.loader {
  @include flex-center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $background-color-primary;
  pointer-events: none;
  z-index: 1;
  animation: visibility 3s ease forwards;
  .container {
    @include flex-center;
    width: 30rem;
    .circle {
      @include flex-center;
      width: 6.25rem;
      height: 6.25rem;
      @media screen and (min-width: 768px) {
        width: 9.375rem;
        height: 9.375rem;
        font-size: 3.125rem;
      }
      border-radius: 50%;
      transform: translateX(0);
      z-index: 2;
      font-size: 2.188rem;
      font-family: $title;
      box-shadow: 0px 4px 20px $color-primary-light;
      background: $color-primary-light;
      &:nth-child(1) {
        animation: move-1 2s infinite;
        background: $color-primary;
        box-shadow: 0px 4px 20px $color-primary;
      }
      &:nth-child(3) {
        animation: move-3 2s infinite;
        background: $color-secondary;
        box-shadow: 0px 4px 20px $color-secondary;
      }
    }
  }
}
