.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $background-color-primary;
  pointer-events: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
    animation: visibility 3s ease forwards;
  .container {
    display: flex;
    justify-content: center;
    width: 480px;
    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      @media screen and (min-width: 768px) {
        width: 150px;
        height: 150px;
        font-size: 50px;
      }
      border-radius: 50%;
      transform: translateX(0);
      z-index: 2;
      font-size: 35px;
      font-family: $title;
      box-shadow: 0px 4px 20px $color-primary-light;
      background: $color-primary-light;
      &:nth-child(1) {
        animation: move-1 2s infinite;
        background: $color-primary;
        box-shadow: 0px 4px 20px $color-primary;
      }
      &:nth-child(3) {
        animation: move-3 2s infinite;
        background: $color-secondary;
        box-shadow: 0px 4px 20px $color-secondary;
      }
    }
  }
  @keyframes move-1 {
    0% {
      z-index: 3;
      transform: translateX(0);
    }
    25% {
      z-index: 3;
      transform: translateX(70px);
    }
    50% {
      z-index: 3;
      transform: translateX(0);
    }

    50.1% {
      z-index: 1;
      transform: translateX(0);
    }
    75% {
      z-index: 1;
      transform: translateX(70px);
    }
    100% {
      z-index: 1;
      transform: translateX(0);
    }
  }
  @keyframes move-3 {
    0% {
      z-index: 1;
      transform: translateX(0);
    }
    25% {
      z-index: 1;
      transform: translateX(-70px);
    }
    50% {
      z-index: 1;
      transform: translateX(0);
    }

    50.1% {
      z-index: 3;
      transform: translateX(0);
    }
    75% {
      z-index: 3;
      transform: translateX(-70px);
    }
    100% {
      z-index: 3;
      transform: translateX(0);
    }
  }
  @keyframes visibility {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
