.restaurants {
  &__card {
    display: flex;
    flex-direction: column;
    margin-top: 1.125rem;
    height: 15.688rem;
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-decoration: none;
    color: inherit;
    @media screen and (min-width: 768px) {
      width: 40%;
    }
    &--new {
      position: relative;
    }
    &--new::before {
      content: "Nouveau";
      @include flex-center;
      position: absolute;
      background-color: $color-secondary;
      color: $color-secondary-dark;
      font-weight: $medium;
      font-size: $new-badge;
      border-radius: 2px;
      padding: 0.375rem 0.563rem;
      top: 1.25rem;
      right: 1.25rem;
    }
    &__img {
      object-fit: cover;
      object-position: center;
      overflow: hidden;
      height: 75%;
      border-radius: 15px 15px 0 0;
    }
    &__info {
      display: flex;
      justify-content: space-between;
      &__text {
        font-size: $subtitle;
        padding: 1rem 0.813rem;
        &__location {
          font-weight: $light;
        }
      }
      &__like {
        margin: 1.438rem 1.563rem;
        height: 1.313rem;
        width: 1.438rem;
        cursor: pointer;
        display: inline-block;
        background-image: url("images/icons/heart-outlined-icon.svg");
        &::before {
          content: "";
          display: block;
          height: 1.313rem;
          width: 1.438rem;
          background-image: url("images/icons/heart-full-linear-gradient-icon.svg");
          opacity: 0;
          transition: opacity 0.8s;
        }
        &:hover::before {
          opacity: 1;
        }
        &--menuPage {
          margin: 0.313rem 1.5rem 0 0;
        }
      }
    }
  }
}
