.tutorial {
  &__step {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 1.438rem;
    font-weight: $medium;
    height: 4.524rem;
    background: $background-color-primary;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-top: 1.563rem;
    @media screen and (min-width: 768px) {
      width: 30%;
    }
    &__icon {
      color: $icon-color;
      &--purple {
        color: $color-primary;
      }
    }
    &__number {
      @include flex-center;
      background-color: #9356dc;
      color: white;
      font-size: 0.886rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 12px;
      margin-left: -0.75rem;
    }
  }
}
