* {
  font-family: "Roboto", sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 3.938rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .header {
    height: 5.813rem;
  }
}
.header__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.875rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 2.33rem;
  }
}

.location {
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
}
.location__city {
  margin-left: 17px;
  font-weight: 500;
}

.hero {
  background-color: #f6f6f6;
  text-align: center;
  padding: 2.5rem;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 1.875rem;
  }
}
.hero__title {
  padding: 0 0.75rem;
  height: 4.25rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 2.5rem;
    height: 5rem;
  }
}
.hero__subtitle {
  font-weight: 300;
  font-size: 1.125rem;
}
.hero__btn {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.813rem 1.172rem;
  margin: 1.688rem 0 1.063rem;
  border-radius: 25px;
  color: white;
  border: none;
  cursor: pointer;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    margin: 1.9rem 0 0;
  }
}
.hero__btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(0deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}
.hero__btn--menuPage {
  padding: 1rem 3rem;
  margin-top: 2.5rem;
}

.tutorial {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 2.032rem 4.25rem;
}
@media screen and (min-width: 768px) {
  .tutorial {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 71.25rem;
    margin: 0 auto;
  }
}
.tutorial__title {
  margin-left: -0.875rem;
}
@media screen and (min-width: 768px) {
  .tutorial__title {
    margin-left: 1.063rem;
    width: 100%;
  }
}
.tutorial__step {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 23px;
  font-weight: 500;
  height: 72.38px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .tutorial__step {
    width: 30%;
  }
}
.tutorial__step__icon {
  color: #7e7e7e;
}
.tutorial__step__icon--purple {
  color: #9356dc;
}
.tutorial__step__number {
  background-color: #9356dc;
  color: white;
  font-size: 14.18px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-left: -12px;
}

.restaurants {
  padding: 3.375rem 1.125rem 4.125rem;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  .restaurants {
    padding: 1.875rem;
  }
}
@media screen and (min-width: 768px) {
  .restaurants__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    max-width: 71.25rem;
    margin: 0 auto;
  }
}
.restaurants__title {
  margin-left: 0.125rem;
}
@media screen and (min-width: 768px) {
  .restaurants__title {
    margin-left: 3.125rem;
    margin-bottom: -1.875rem;
    width: 100%;
  }
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  height: 15.688rem;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .restaurants__card {
    width: 40%;
  }
}
.restaurants__card--new {
  position: relative;
}
.restaurants__card--new::before {
  content: "Nouveau";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: #008766;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 2px;
  padding: 0.375rem 0.563rem;
  top: 1.25rem;
  right: 1.25rem;
}
.restaurants__card__img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 75%;
  border-radius: 15px 15px 0 0;
}
.restaurants__card__info {
  display: flex;
  justify-content: space-between;
}
.restaurants__card__info__text {
  font-size: 1.125rem;
  padding: 1rem 0.813rem;
}
.restaurants__card__info__text__location {
  font-weight: 300;
}
.restaurants__card__info__like {
  margin: 1.438rem 1.563rem;
  height: 21px;
  width: 23px;
  cursor: pointer;
  display: inline-block;
  background-image: url("images/icons/heart-outlined-icon.svg");
}
.restaurants__card__info__like::before {
  content: "";
  display: block;
  height: 21px;
  width: 23px;
  background-image: url("images/icons/heart-full-linear-gradient-icon.svg");
  opacity: 0;
  transition: opacity 0.8s;
}
.restaurants__card__info__like--menuPage {
  margin: 5px 24px 0 0;
}

input:checked + .restaurants__card__info__like::before {
  opacity: 1;
}

input[type=checkbox] {
  display: none;
}

.footer {
  color: white;
  background-color: #353535;
  padding: 1.375rem 1.563rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1.875rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 2.5rem;
  }
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.125rem;
}
.footer__nav {
  list-style-type: none;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.438rem;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-top: 0;
  }
}
.footer__nav__link {
  text-decoration: none;
  color: inherit;
}
.footer__nav__link--firsticon {
  margin-left: 10px;
}
.footer__nav__link--secondicon {
  margin-left: 4px;
}

.header {
  position: relative;
}
.header__return {
  color: #353535;
  position: absolute;
  left: 6%;
}
.header__return i {
  font-size: 1.375rem;
}

.banner {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

@keyframes appear {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  padding: 1.938rem 1.063rem;
  margin-top: -58px;
  z-index: 1;
  position: relative;
}
.menu__header {
  display: flex;
  justify-content: space-between;
}
.menu__header__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.75rem;
}
.menu__starter h3, .menu__dish h3, .menu__dessert h3 {
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.875rem;
  margin-top: 2.5rem;
}
.menu__starter h3::before, .menu__dish h3::before, .menu__dessert h3::before {
  content: "";
  position: absolute;
  bottom: -0.625rem;
  width: 3.125rem;
  height: 0.25rem;
  background-color: #99e2d0;
}
.menu__meal {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  cursor: pointer;
  margin-top: 1.25rem;
  overflow: hidden;
  animation: appear 1s both;
}
.menu__meal:nth-child(2) {
  animation-delay: 200ms;
}
.menu__meal:nth-child(3) {
  animation-delay: 300ms;
}
.menu__meal:nth-child(4) {
  animation-delay: 400ms;
}
.menu__meal:nth-child(5) {
  animation-delay: 500ms;
}
.menu__meal__description {
  white-space: nowrap;
  overflow: hidden;
  padding: 0.75rem 0.938rem;
  padding-right: 0;
}
.menu__meal__description h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.125rem;
  font-weight: 500;
}
.menu__meal__description p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.94rem;
  font-weight: 300;
}
.menu__meal__price {
  display: flex;
  align-items: flex-end;
  font-size: 0.94rem;
  font-weight: 700;
  padding: 0.75rem 0.938rem;
  padding-left: 0;
  margin-left: auto;
}
.menu__meal__check {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.375rem;
  width: 4.375rem;
  color: white;
  background-color: #99e2d0;
  border-radius: 0 15.0431px 15.0431px 0;
  margin-right: -4.375rem;
  transition: margin-right 0.4s ease-in-out;
}
.menu__meal:hover .menu__meal__check {
  margin-right: 0;
}
.menu__order {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
