.header {
  position: relative;
  &__return {
    color: $background-color-tertiary;
    position: absolute;
    left: 6%;
    i {
      font-size: $icon;
    }
  }
}

.banner {
  width: 100%;
  height: 17.188rem;
  object-fit: cover;
  @media screen and (min-width: 768px) {
    height: 23.938rem;
  }
}

.menu {
  background-color: $background-color-primary;
  border-radius: 40px 40px 0px 0px;
  padding: 1.938rem 1.063rem;
  margin-top: -3.625rem;
  z-index: 1;
  position: relative;
  @media screen and (min-width: 768px) {
    max-width: 65.938rem;
    margin: -3.625rem auto 0;
    padding: 3.188rem 1.063rem 1.938rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @media screen and (min-width: 768px) {
      justify-content: center;
      gap: 1.5rem;
    }
    &__title {
      font-family: $title;
      font-weight: $regular;
      font-size: $page-title;
    }
  }
  &__course {
    animation: appear 1s both;
    @for $i from 2 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: 500ms * $i;
      }
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      max-width: 39.625rem;
      margin: 0 auto;
    }
    h3 {
      font-weight: $light;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 1.875rem;
      margin-top: 2.5rem;
      @media screen and (min-width: 768px) {
        font-size: $base;
        margin-bottom: 0.75rem;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: -0.625rem;
        width: 3.125rem;
        height: 0.25rem;
        background-color: $color-secondary;
        @media screen and (min-width: 768px) {
          width: 2.5rem;
          height: 0.2rem;
          bottom: -0.5rem;
        }
      }
    }
  }
  &__order {
    text-align: center;
  }
}
