// Colors
$color-primary: #9356dc;
$color-primary-light: #ff79da;
$color-secondary: #99e2d0;
$color-secondary-dark: #008766;

$background-color-primary: #f6f6f6;
$background-color-secondary: #eaeaea;
$background-color-tertiary: #353535;

$icon-color: #7e7e7e;

$button-gradient: linear-gradient(
  0deg,
  $color-primary -11.44%,
  $color-primary-light 123.93%
);
$button-gradient-hover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15)
  ),
  linear-gradient(0deg, $color-primary -5.2%, $color-primary-light 110.74%);

$icon-gradient-hover: linear-gradient(
  193.33deg,
  $color-primary -11.44%,
  $color-primary-light 123.93%
);

// Font-sizes
$base: 1rem; //J'utilise rem car la font-size va s'adapter au système de l'utilisateur et aux préférences de son navigateur
$header-title: 1.875rem;
$page-title: 1.75rem;
$section-title: 1.5rem;
$subtitle: 1.125rem;
$caption: 1.063rem;
$description: 0.94rem; // J'ai utilisé un convertisseur PX to REM qui m'a donné ces résultats précis
$icon: 1.375rem;
$new-badge: 0.875rem;

// Font-weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Font-family
$default: "Roboto", sans-serif;
$title: "Shrikhand", cursive;
